$font-stack:    Helvetica, sans-serif;
$text_align:  center;

html {
  background: linear-gradient(to right, #4099FF, slateblue);
  -webkit-input-placeholder:cover ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: transparent;
  color: black;
  font: 100% $font-stack;
  font-size: 20px ;
  text-align: $text_align;}

h1 {
  font-size: 60px;
  text-align: $text_align;
  color: white; }

#submitButton {
  color: black;
  background-color: lightgreen; }

#wrapper{
  padding: 10px; 
}

#cityInput{
  color: black;
}

#resultWrapper{
  text-align: center;
  width:300px; 
  margin-left:auto;
  margin-right:auto;
}

#weatherIcon{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

#cityName{
   font-size: 45px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#temperatureInDegree{
  font-size: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#weatherImg{
  text-align:center;
  width: 130px;
  height: 120px;
  padding-top:10px;
  margin-left:auto;
  margin-right:auto;
}

#resultTable{
  text-align: left;
  width: 370px; 
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#displayResult{
  padding-top:10px;
}






